$primary-color: rgb(45, 95, 235);
$primary-color-hover: rgb(117, 152, 248);
$secondary-color: rgb(37, 37, 37);
$secondary-color-hover: lighten($secondary-color, 0.3);
$menu-color: linear-gradient(90deg, rgba(204,235,230,1) 0%, rgba(253,197,197,1) 100%);

$error-color: rgb(240, 51, 51);
$text-color: rgb(43, 43, 43);
$text-color-lighter: rgb(99, 99, 99);
