$main-background-color: rgb(201, 214, 243);
$padding: 1rem;
$padding-narrow: 0.5rem;
$margin: 1rem;
$border-radius: 0.25rem;
$primary-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$border-thickness: 1px;
$opaque-border: $border-thickness solid rgba(0, 0, 0, 0.1);
$gap-size: 1rem;

$header-height: 3rem;

// Text
$button-text-size: 8pt;
$text-size-small: 10pt;
$text-size-medium: 12pt;
$text-size-large: 16pt;

