@use 'variables';
@use 'colors';

.main-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  height: variables.$header-height;
  background: colors.$menu-color;
  box-shadow: variables.$secondary-shadow;

  @media only screen and (max-width: variables.$LARGE) {
    .nav-bar {
      display: none;
    }
  }
}