@use "variables";
@use "colors";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: variables.$main-background-color;
  color: colors.$text-color;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  #root {
    min-height: 100vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
